<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="MY_DB.PERMISSION"/>

    <queries>
        <package android:name="com.example.demo.server"/>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_demo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android_demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubActivity02" />
        <activity android:name=".SubActivity03" />

        <service android:name=".service.MyService01" />
        <service android:name=".service.MyBindService" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="RULE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.OrderReceiver01"
            android:exported="false"
            >
            <intent-filter android:order="0">
                <action android:name="RULE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.OrderReceiver02"
            android:exported="false"
            >
            <intent-filter android:order="1">
                <action android:name="RULE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.OrderReceiver03"
            android:exported="false"
            >
            <intent-filter android:order="2">
                <action android:name="RULE" />
            </intent-filter>
        </receiver>

        <service android:name=".server.MyService"
            android:exported="true"
            android:enabled="true"
            android:process=":server">
            <intent-filter>
                <action android:name="android.intent.action.server.student"></action>
            </intent-filter>
        </service>
    </application>

</manifest>